<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head', {}); %>

    <script src="../calendarGenerator.js"></script>
    <script src="../backlog.js"></script>
    <script src="../userStoryForm.js" defer></script>
    <script src="../sprintForm.js" defer></script>
    <script src="../message.js" defer></script>
    <script src="../draggable.js" defer></script>
</head>
<body>
    <% if(typeof project == 'object' && project){%>
        <%- include('header', {select: 1, projectName: project.name}) %>

        <div class="title">
            Backlog
            <a href="/backlog/create" id="addUSButton" class="medium_case button ml-auto">Ajouter</a>
        </div>
        <div class="list draggable_drop">
            <input type="text" value='/backlog/userStorySprint?projectId=<%=project._id%>&sprintId=' class='dropURL' hidden>
            <div class="list_title">
                <div class="small_case value">ID</div>
                <div class="flex-grow-1 value ">Title</div>
                <div class="medium_case value ">Difficulté</div>
                <div class="medium_case value">Priorité</div>
                <div class="small_case"></div>
                <div class="small_case"></div>
            </div>
            <% if(typeof backlog == 'object' && backlog){
                backlog.userStories.forEach(function(userStory) { 
                    if(!userStory.sprint){%>
                        <%- include('userStory', {project:project, userStory:userStory}) %>
                    <% }
                });
             } %>
        </div>

        <% if(typeof backlog == 'object' && backlog){
             let indexA = 0;
             backlog.sprints.forEach(function(sprint) { %>
                <div id="Sprint<%=sprint._id%>">
                <div class="title">
                    <div id="TI<%=sprint._id%>"><%= sprint.name %></div>
                    <div class="progess-bar"><div class="progess-bar progress_value" id='PROG<%=sprint._id%>'></div></div>
                    <div class="m-2 font-weight-normal h6"><%=sprint.velocity%>/<%=sprint.taskCount%></div>
                    <div class="m-2 font-weight-normal h5" id="INFO<%=sprint._id%>"></div>
                    <div class="small_case ml-auto tooltips value">
                        <i class="far fa-calendar-alt"></i>
                        <div class="tooltiptext" id="calendar<%= indexA %>"></div>
                    </div>
                    <button class="button" onclick="showPopupSprint('<%= sprint._id %>')"><i class="fas fa-cogs"></i></button>
                    <button class="button" onclick="deleteURL('Sprint<%= sprint._id %>', '/backlog/sprint/delete?id=<%=sprint._id%>')"><i class="fas fa-trash"></i></button>
                </div>
                <div class="list draggable_drop">
                    <input type="text" value='/backlog/userStorySprint?sprintId=<%=sprint._id%>' class='dropURL' hidden>
                    <div class="list_title">
                        <div class="small_case value">ID</div>
                        <div class="flex-grow-1 value ">Titre</div>
                        <div class="medium_case value ">Difficulté</div>
                        <div class="medium_case value">Priorité</div>
                        <div class="small_case"></div>
                        <div class="small_case"></div>
                    </div>
                    <% backlog.userStories.forEach(function(userStory) { 
                        if(String(userStory.sprint) === String(sprint._id)){%>
                            <%- include('userStory', {project:project, userStory:userStory}) %>
                        <%}
                        }); %>
                </div>
            </div>
                <% indexA += 1;
            });
         } %>
         <div class="title">
            <button class="button w-100" id="showFormNS">
                Ajouter un Sprint
            </button>
         </div>
         

        <div class="popup" id="FormUS">
            <span class="background"></span>
            <div class="form content">
                <input type="hidden" id="_IDUS">
                <div class="group">
                    <div class="subtitle">ID</div>
                    <input class="elements text" type="text" id="IDUS" readonly>
                </div>
                <div class="group">
                    <div class="subtitle">Nom</div>
                    <input class="elements text" type="text" id="TIUS">
                </div>
                <div class="group">
                    <div class="subtitle">Description</div>
                    <textarea class="elements text" id="DEUS" rows="10"></textarea>
                </div>
                <div class="group">
                    <div class="subtitle">Difficulté</div>
                    <input class="elements text" type="number" id="DIUS">
                </div>
                <div class="group">
                    <div class="subtitle">Priorité</div>
                    <input class="elements text" type="number" id="PRUS">
                </div>
                <div class="group">
                    <div class="button reject m-2 p-2" id="rejectFormUS">Annuler</div>
                    <div class="button valid m-2 p-2" id="validFormUS">Valider</div>
                </div>
            </div>
        </div>

        <div class="popup" id="FormNS">
            <span class="background"></span>
            <form action="backlog/sprint" method="post" class="form content">
                <div class="group">
                    <div class="subtitle">Nom</div>
                    <input class="elements text" type="text" name="name" id="nameNS">
                </div>
                <div class="group">
                    <div class="subtitle">Début</div>
                    <input class="elements text" type="date" name="startDate" id="startNS">
                </div>
                <div class="group">
                    <div class="subtitle">Fin</div>
                    <input class="elements text" type="date" name="endDate" id="endNS">
                </div>
                <div class="group">
                    <div class="button reject m-2 p-2" id="rejectFormNS">Annuler</div>
                    <input type="submit" class="button valid m-2 p-2" value="Valider" id="validFormNS">
                </div>
            </form>
        </div>

        <div class="popup" id="FormSprint">
            <span class="background"></span>
            <div class="form content">
                <input type="hidden" id="_IDSprint" name="id">
                <div class="group">
                    <div class="subtitle">Nom</div>
                    <input class="elements text" type="text" name="name" id="TISprint">
                </div>
                <div class="group">
                    <div class="button reject m-2 p-2" id="rejectFormSprint">Annuler</div>
                    <input type="submit" class="button valid m-2 p-2" value="Valider" id="validFormSprint">
                </div>
            </div>
        </div>
    <%}else{%>
        <%- include('header', {select: 1, projectName: "Backlog"})%>
    <%}%>

    <%- include('footer', {}); %>
</body>
<script>
    <% if(typeof backlog == 'object' && backlog){
        let average = 0;
        backlog.sprints.forEach(function(sprint) {
            average += sprint.taskCount;
        });
        average /= backlog.sprints.length;
        let indexB = 0;
        backlog.sprints.forEach(function(sprint) {%>
            generateCalendar('calendar<%= indexB %>',<%= sprint.endDate.getFullYear() %>, <%= sprint.endDate.getMonth() %>, '<%= sprint.startDate %>', '<%= sprint.endDate %>');
            generateSprintStat('<%=sprint._id%>', '<%= sprint.startDate %>', '<%= sprint.endDate %>', <%=sprint.taskCount%>, <%=sprint.velocity%>, <%=average%>);
            <%indexB += 1;
        });
    } %>

    function updateView(){
        window.location.reload();
    }
</script>
</html>