<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head', {}); %>

    <script src="../calendarGenerator.js"></script>
</head>
<body>
    <%- include('header', {select: 1}); %>

    <div class="title">
        Backlog
        <a href="/userStories/create?projectId=<%=projectId%>" id="addUSButton" class="medium_case button ml-auto">Ajouter</a>
    </div>
    <div class="list">
        <div class="list_title">
            <div class="small_case value">ID</div>
            <div class="flex-grow-1 value ">Title</div>
            <div class="medium_case value ">Importance</div>
            <div class="medium_case value">Difficulté</div>
        </div>
        <% backlog.userStories.forEach(function(userStory) { %>
        <div class="list_line hover">
            <div class="small_case  elements value "><%= userStory.id %></div>
            <div class=" elements text"><%= userStory.name %></div>
            <div class="medium_case  elements value"><%= userStory.priority %></div>
            <div class="medium_case  elements value"><%= userStory.difficulty %></div>
            <div class="hover_active w-100">
                <div class="subtitle">Description</div>
                <div class=" elements  text"><%= userStory.description %></div>
            </div>
        </div>
        <% }); %>
    </div>

    <% let indexA = 0;backlog.sprints.forEach(function(sprint) { %>
    <div class="title">
        <%= sprint.name %>
        <div class="small_case ml-auto tooltips value">
            <i class="far fa-calendar-alt"></i>
            <div class="tooltiptext" id="calendar<%= indexA %>"></div>
        </div>
    </div>
    <div class="list">
        <div class="list_title">
            <div class="small_case value">ID</div>
            <div class="flex-grow-1 value ">Title</div>
            <div class="medium_case value ">Importance</div>
            <div class="medium_case value">Difficulté</div>
        </div>
        <% sprint.userStories.forEach(function(userStory) { %>
        <div class="list_line hover">
            <div class="small_case  elements value "><%= userStory.id %></div>
            <div class=" elements text"><%= userStory.name %></div>
            <div class="medium_case  elements value"><%= userStory.priority %></div>
            <div class="medium_case  elements value"><%= userStory.difficulty %></div>
            <div class="hover_active w-100">
                <div class="subtitle">Description</div>
                <div class=" elements  text"><%= userStory.description %></div>
            </div>
        </div>
        <% }); %>
    </div>
    <% indexA += 1;}); %>

    <%- include('footer', {}); %>
</body>
<script>
    <% let indexB = 0;backlog.sprints.forEach(function(sprint) {%>
        generateCalendar('calendar<%= indexB %>',<%= sprint.endDate.getFullYear() %>, <%= sprint.endDate.getMonth() %>, '<%= sprint.startDate %>', '<%= sprint.endDate %>')
    <%indexB += 1;}); %>
</script>
</html>